USE [master]
GO
/****** Object:  Database [lab03]    Script Date: 1/22/2026 5:22:17 PM ******/
CREATE DATABASE [lab03]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'lab03', FILENAME = N'c:\databases\lab03\lab03.mdf' , SIZE = 8192KB , MAXSIZE = 20971520KB , FILEGROWTH = 10%)
 LOG ON 
( NAME = N'lab03_log', FILENAME = N'c:\databases\lab03\lab03_log.ldf' , SIZE = 8192KB , MAXSIZE = 1048576KB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [lab03].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [lab03]
GO
/****** Object:  Table [dbo].[students]    Script Date: 1/22/2026 5:22:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [int] NOT NULL,
	[name] [nvarchar](100) NULL,
	[age] [int] NULL,
	[email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[students] ([id], [name], [age], [email]) VALUES (0, N'', 0, N'')
INSERT [dbo].[students] ([id], [name], [age], [email]) VALUES (4, N'Luong Chi Bao', 20, N'bao105497@gmail.com')
INSERT [dbo].[students] ([id], [name], [age], [email]) VALUES (5, N'Dang Cong Vu UPDATED', 21, N'CongVu@gmail.com')
GO
USE [master]
GO
